<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="BETTERConnectionString" connectionString="
         Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=&quot;
         \\Mac\Home\Documents\Visual Studio 2015\Projects\BattlingElementalTitans\BETTER.mdf&quot;;
         Integrated Security=True;
         Connect Timeout=30"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>